@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: Poppins;
  text-align: center;
  background-color: rgb(231, 231, 231);
}

img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius:15px 15px 0 0;
}

/** DASHBOARD CONTENT **/
.dashboard .content{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  display: grid;
  border-radius: 15px;
  margin-bottom:15px;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashboard p, span, .content{
  background-color: white;
}

.dashboard span{
  font-weight: bold;
}

.likeButton{
  background-color: white;
}

.likeButton button{
  width:80px;
  margin-right:65%;
  margin-bottom:5%;
  border-style: none;
  padding:10px;
  border-radius: 10px;
}

.likeButton button:hover #like{
  background-color: rgb(216, 216, 216);
}

.likeButton button:hover{
  background-color: rgb(216, 216, 216);
}

#like{
  font-size:15px;
  margin-bottom:-2px;
}

/** NAVBAR CONTENT **/
.navbar{
  width:100%;
  padding:15px;
  margin-top:-10px;
  margin-bottom:50px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar p, h1{
  background-color: white;
}
